<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <design>
            <nav_text>
                <toggle>1</toggle>
                <text>Categories:</text>
            </nav_text>
        </design>
    </default>
</config>